web_ejemplos/104LMSGIProyectoLMSGI/ud4/04/04.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT universidad (nombre,fechaconstruccion,pais,carreras,asignaturas,alumnos)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre year CDATA #IMPLIED>
<!ELEMENT fechaconstruccion (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT carreras (carrera)+>
<!ELEMENT carrera (nombre?,plan?,creditos?,centro?,subdirector?,asignaturas?)>
<!ATTLIST carrera id ID #IMPLIEDcodigo IDREF #IMPLIED>
<!ELEMENT plan (#PCDATA)>
<!ELEMENT creditos (#PCDATA)>
<!ELEMENT centro (#PCDATA)>
<!ELEMENT subdirector (#PCDATA)>
<!ELEMENT asignaturas (asignatura)+>
<!ELEMENT asignatura (nombre,creditos_teoricos,creditos_practicos,trimestre)?>
<!ATTLIST asignatura id ID #IMPLIED titulacion IDREF #IMPLIED codigo IDREF #IMPLIED>
<!ELEMENT creditos_teoricos (#PCDATA)>
<!ELEMENT creditos_practicos (#PCDATA)>
<!ELEMENT trimestre (#PCDATA)>
<!ELEMENT alumnos (alumno)*>
<!ELEMENT alumno (apellido1,apellido2,nombre,sexo,estudios)>
<!ATTLIST alumno id ID #REQUIRED beca (si) #IMPLIED>
<!ELEMENT apellido1 (#PCDATA)>
<!ELEMENT apellido2 (#PCDATA)>
<!ELEMENT sexo (#PCDATA)>
<!ELEMENT estudios (carrera,asignaturas,proyecto?)>
<!ELEMENT proyecto (#PCDATA)>
<!ATTLIST universidad xmlns:xsi CDATA #IMPLIED xsi:noNamespaceSchemaLocation CDATA #IMPLIED >
