web_ejemplos/104LMSGIProyectoLMSGI/ud4/03/03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- Declaracion de elemento complejo, tipo lenguaje -->
<xs:complexType name="tipoLenguaje">
    <xs:sequence>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="example" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
</xs:complexType>
<!-- Declaracion de elemento raiz -->
<xs:element name="programmingLanguages">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="lenguaje" type="tipoLenguaje" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>