web_ejemplos/104LMSGIProyectoLMSGI/ejPracticos/xsd/05/01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="productosfinancieros">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="producto" maxOccurs="unbounded">
          <xs:complexType>

            <xs:choice>

              <xs:element name="bono" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="valoractual" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute name="moneda" use="required">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="euros" />
                                  <xs:enumeration value="yenes" />
                                  <xs:enumeration value="dolares" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="beneficio">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:fractionDigits value="2"></xs:fractionDigits>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="futuro" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="elemento">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="idioma" use="required">
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="beneficio">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:fractionDigits value="2"></xs:fractionDigits>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>

              </xs:element>

              <xs:element name="acciones" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="empresa">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="pais">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="usa" />
                                  <xs:enumeration value="alemania" />
                                  <xs:enumeration value="Japon" />
                                  <xs:enumeration value="espana" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="beneficio">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:fractionDigits value="2"></xs:fractionDigits>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>