web_ejemplos/104LMSGIProyectoLMSGI/ud4/02/02.dtd

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT autor (nombre,apellido,nacionalidad)>
<!ELEMENT autores (autor+)>
<!ELEMENT libro (titulo,autores,anio)>
<!ATTLIST libro id ID #REQUIRED>
<!ATTLIST libro genero CDATA #IMPLIED>
<!ATTLIST libro idioma CDATA "Español">
<!ATTLIST libro formato (impreso|digital) "impreso">
<!ATTLIST libro referencia IDREFS #IMPLIED>
<!ELEMENT biblioteca (libro+)>