web_ejemplos/104LMSGIProyectoLMSGI/ud4/04.2/asignaturas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.example.com/asignaturas" targetNamespace="http://www.example.com/asignaturas" elementFormDefault="qualified">
    <xs:element name="asignaturas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="asignaturas" type="tipoAsignatura" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="tipoAsignatura">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"></xs:element>
            <xs:element name="creditos" type="xs:positiveInteger"></xs:element>
            <xs:element name="creditos_pacticos" type="xs:positiveInteger"></xs:element>
            <xs:element name="trimestre" type="xs:positiveInteger"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
        <xs:attribute name="titulacion" type="xs:IDREF" use="required"></xs:attribute>
    </xs:complexType>
</xs:schema>