web_ejemplos/104LMSGIProyectoLMSGI/ud4/04.2/carreras.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.example.com/carreras" targetNamespace="http://www.example.com/carreras" elementFormDefault="qualified">

    <xs:element name="carreras">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="carrera" type="tipoCarrera"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--Declaracion de elemento complejo -->
    <xs:complexType name="tipoCarrera">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"></xs:element>
            <xs:element name="plan" type="xs:gYear"></xs:element>
            <xs:element name="creditos" type="xs:positiveInteger"></xs:element>
            <xs:element name="centro" type="xs:string"></xs:element>
            <xs:element name="subdirector" type="xs:string"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
    </xs:complexType>
</xs:schema>
